/* Discord theme for Revolt by ThatTonybo & contributors */

/* Font imports */
@font-face { font-family: Whitney; font-weight: 300; src: url("https://d33wubrfki0l68.cloudfront.net/af357ddfdcb29c384b6f6435d3e08a87d669d4c4/4e033/static/300.6c6374ba.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 400; src: url("https://d33wubrfki0l68.cloudfront.net/550701559599176e16f1a975734505fd889ca734/fee33/static/400.e8acd7d9.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 500; src: url("https://d33wubrfki0l68.cloudfront.net/6e2ca96e9ec9595d1739d92a677511b22b1cfd59/f200d/static/500.3bdef125.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 600; src: url("https://d33wubrfki0l68.cloudfront.net/52e04f1042442cbcf9c6802d2eb2381874b940bb/082e6/static/600.be0060da.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 700; src: url("https://d33wubrfki0l68.cloudfront.net/fdbdb2189fb5c1d8526ea5079611caa18f50959f/8a619/static/700.8e12fb4f.woff") format("woff"); }

/* Global font variables */
:root {
  --font: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  --monospace-font: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace !important;
}

/* Global color variables */
:root {
  --background-floating: #18191c;
  --interactive-hover: #dcddde;
  --header-secondary: #b9bbbe;
  --text-normal: var(--interactive-hover);
  --background-modifier-hover: rgba(79,84,92,0.16);
  --green: hsl(139,47.3%,43.9%);
  --green-hover: hsl(139,47.1%,33.3%);
}

/* Rounded/floating message bar */
.sc-bTDOke.dXiuJH { margin: 0 16px 24px; border-radius: 8px; }

/* Shadow on edge of top bar */
.sc-hhIiOg { box-shadow:rgba(4, 4, 5, 0.2) 0px 1px 0px 0px, rgba(6, 6, 7, 0.05) 0px 1.5px 0px 0px, rgba(4, 4, 5, 0.05) 0px 2px 0px 0px; z-index: 1; }

/* Changes divider color to be darker */
.lmGFyU { border-color: #ffffff0f; }

/* Hides the wave used as a chosen server indicator by default */
.cebzwO span, .dtmIia span { display: none; }

/* Replicates selected server indicator */
.czAOsy img, .czAOsy div { border-radius: 50%; transition: 0.25s ease; }
.czAOsy:hover img, .czAOsy:hover div { border-radius: 10px; }
.cebzwO img, .cebzwO .sc-jNnpgg, .dtmIia img { border-radius: 10px; }

/* Brings typing, reply and upload bars in line with message bar */
.eQUdeu > div, .llyViG, .UjHkE { margin-left: 16px; margin-right: 16px !important; border-top-left-radius: 8px; border-top-right-radius: 8px; }

/* Don't round the top corners of the message bar if an extension is active */
.sc-daBunf ~ .sc-bTDOke.dXiuJH, /* typing indicators */
:not(:empty) + .sc-bTDOke.dXiuJH, /* replies */
.sc-fXazdy ~ .sc-bTDOke.dXiuJH /* attachments */ 
{ border-radius: 0 0 8px 8px; }

/* Shadow on server name/badge */
.sc-eirqVv.dSzotL { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }
.sc-hhIiOg.elIzZc > div > svg { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }

/* Reply and upload modals have the same background colour as the typing indicator */
.sc-fXazdy, .eQUdeu > div, .llyViG, .UjHkE { background: #2F3136; }

/* Right click menu improvements */
#Menu.context-menu { background: var(--background-floating) !important; }
.context-menu>span:not([data-disabled=true]):hover { background: var(--accent) !important; color: var(--foreground); }
.context-menu>span:not([data-disabled=true]):active, .context-menu>span:not([data-disabled=true]):focus { background: var(--accent) !important; color: var(--foreground); opacity: 0.8; }

/* User menu icon size adjustment to be equal to Discord */
.sc-hTRkXV > a:nth-child(2) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1), .sc-hTRkXV > a:nth-child(3) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1), .sc-hTRkXV > a:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) { height: 24px; width: 24px; !important; }

/* Buttons in settings now uses accent color */
.sc-bdnxRM { background: var(--accent); transition: 0.2s ease; }
button.sc-bdnxRM:hover { background: var(--accent); opacity: 0.8; }

/* Create server circle button */
div.sc-iNiQyp.jdiWPe div.sc-fFSPTT.ehWzcZ svg.StyledIconBase-ea9ulj-0.hPhvO {
background: var(--primary-header); color: #3BA55D; border-radius: 50%; transition: 0.25s ease; }
div.sc-iNiQyp.jdiWPe div.sc-fFSPTT.ehWzcZ svg.StyledIconBase-ea9ulj-0.hPhvO:hover { border-radius: 10px; transition: 0.2s ease; background: #3BA55D; color: white; }

/* Attach file button circle */
div.sc-hOPeYd.eXirsP div.sc-fFSPTT.ehWzcZ svg.StyledIconBase-ea9ulj-0.hPhvO { background: var(--secondary-foreground); border-radius: 50%; height: 20px; width: 20px; margin-left: 10px; }
div.sc-hOPeYd.eXirsP div.sc-fFSPTT.ehWzcZ:hover > .StyledIconBase-ea9ulj-0.hPhvO { filter: brightness(120%); }
div.sc-hOPeYd.eXirsP div.sc-fFSPTT.ehWzcZ svg.StyledIconBase-ea9ulj-0.hPhvO path { color: var(--message-box); }

/* Move input box to the right to allow for upload button spacing */
.dXiuJH textarea { margin-left: 10px; }

/* Change color of category headings */
.iJjSgu, .eRblbP summary .padding > svg { color: rgb(142, 146, 151); }
.iJjSgu:hover, .eRblbP summary .padding > svg { filter: brightness(140%); }

/* Selected server indicator, unread message indicator and hover styles */
.sc-jffHpj foreignObject::before { content: ''; position: absolute; top: 50%; left: -11px; transform: translateY(-50%); display: block; width: .1px; height: .1px; background: white; border-radius: 4px; transition: width .25s, height .25s; }
.sc-jffHpj foreignObject { mask: unset; }
.sc-jffHpj circle { display: none; }
/* server has unread message(s) */
.sc-jffHpj foreignObject:not(:last-child)::before { width: 8px; height: 8px; }
.sc-jffHpj:hover foreignObject::before { width: 8px; height: 20px !important; }
/* server selected */
.sc-jffHpj.cebzwO foreignObject::before { width: 8px; height: 30px !important; }
.sc-jffHpj, .sc-jffHpj > div, .sc-jffHpj > div > svg, .sc-jffHpj > div > svg > foreignObject:nth-child(2), .sc-iNiQyp { overflow: visible; }

/* Edit message dialog changes */
.bYgUJS textarea { background: #40444B; border-color: #40444B !important; }

/* Typing indicator */
.sc-daBunf * { background-color: transparent !important; }
.sc-daBunf { position: absolute; background-color: transparent; width: 100%; top: 100vh; }
.sc-daBunf > div { padding-left: 50px; background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24.5" height="7" class="ellipsis-19qdx6 dots-3Bkt3k themed-IQiCm3"><style type="text/css">circle { animation: pulse 1.2s infinite cubic-bezier(0.51, 0.05, 0.51, 0.98); transform: scale(0.85); fill: rgba(255, 255, 255, 0.2); transform-origin: 50% 50%; transform-box: fill-box; } circle:nth-child(2) { animation-delay: 0.12s; } circle:nth-child(3) { animation-delay: 0.24s; } @keyframes pulse { 30% { fill: white; transform: scale(1); } 60% { fill: rgba(255, 255, 255, 0.2); transform: scale(0.85); } }</style><g style="opacity: 1"><circle cx="3.5" cy="3.5" r="3.5" fill="currentColor" style="opacity: 1"></circle><circle cx="12.25" cy="3.5" r="3.5" fill="currentColor" style="opacity: 1"></circle><circle cx="21" cy="3.5" r="3.5" fill="currentColor" style="opacity: 1"></circle></g></svg>'); background-position: 10px center; background-repeat: no-repeat; background-size: 30px; }

/* Fix message box border radius to work with new typing indicator */
.sc-eKYRIR:not(:nth-child(1)) { border-radius: 0; }

/* ---------------------Profile modal--------------------- */
/* note: not final, could potentionally break other modals */
.sc-iCoGMd { background-color: var(--background-floating); }
.sc-gKAaRy { border-radius: 8px; }
._settings_vku0p_34 ._preview_1a54u_76 { padding-bottom: 20px; }
.iJHfih { padding: 0; }

/* Profile banner */
._header_1oux5_8 { width: 600px; height: 240px; background-size: 0, cover; }
._header_1oux5_8:not([style]) { background-color: var(--accent); }

/* Profile header */
._header_1oux5_8>* { width: 100%; }
._profile_1oux5_21 { padding-top: 172px; }

/* Profile picture */
._header_1oux5_8 .sc-jrsJWt img { border: solid 2px var(--background-floating); }
._header_1oux5_8 .sc-jrsJWt { width: 136px; height: 136px; border-radius: 50% 50% 0 0; background-color: var(--background-floating);}
._header_1oux5_8 .sc-jrsJWt>foreignObject:hover { filter: none; }

/* Status indicator */
._profile_1oux5_21>.sc-jrsJWt>circle { cy: 25.5px; cx: 25.5px; r: 2.8px; }
._profile_1oux5_21>.sc-jrsJWt>foreignObject { mask: none; }
._profile_1oux5_21>.sc-jrsJWt>foreignObject:after { content: ''; display: block; width: 9.5px; height: 9.5px; position: absolute; bottom: 1.7px; right: 1.7px; border-radius: 50%; background: var(--background-floating); }

/* Username and status */
._details_1oux5_30 { transform: translate(-155px, 98px); }
._status_1oux5_46 { transform: translateY(8px); color: var(--header-secondary);}

/* Profile tabs */
._tabs_1oux5_50 { padding-top: 46px; font-weight: 500; border-bottom: solid 1px #262729; }
._tabs_1oux5_50>div:not([data-active="true"]) { color: var(--interactive-hover) }
._tabs_1oux5_50>div { padding: 17.5px 0; margin: 0 15px; }

/* Profile information */
._content_1oux5_70 { max-width: 600px; height: 240px; margin-bottom: 190px; transform: translateY(190px); background-color: var(--background-floating); }

/* Friend request button */
._profile_1oux5_21 .sc-fFSPTT { width: 0; height: 0; }
._profile_1oux5_21 .sc-fFSPTT>svg { display: none; }
._profile_1oux5_21 .sc-fFSPTT:after { content: 'Send Friend Request'; font-weight: 500; font-size: 14px; color: white; background-color: var(--green); padding: 7px 16px; border-radius: 3px; transition: background-color .17s ease,color .17s ease; white-space: nowrap; transform: translate(-147px, 16px); }
._profile_1oux5_21 div[style]>.sc-fFSPTT:after { content: 'Message'; transform: translate(-81px, 16px); }
._profile_1oux5_21 .sc-fFSPTT:hover:after { background-color: var(--green-hover); }

/* Mutual Servers */
._content_1oux5_70 img.sc-kEqXSa.cdoZw { width: 40px; height: 40px; border-radius: 12px; }
._content_1oux5_70 span { font-weight: 500; color: var(--text-normal); }
._content_1oux5_70 ._entries_1oux5_113 { gap: 1px; }
._content_1oux5_70 ._entry_1oux5_122 { padding: 4px; background-color: unset; }
._content_1oux5_70 ._entry_1oux5_122:hover { background-color: var(--background-modifier-hover); }
/* ------------------------------------------------------- */