/* Discord theme for Revolt by ThatTonybo & contributors */

/* Fonts */
@font-face { font-family: Whitney; font-weight: 300; src: url("https://d33wubrfki0l68.cloudfront.net/af357ddfdcb29c384b6f6435d3e08a87d669d4c4/4e033/static/300.6c6374ba.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 400; src: url("https://d33wubrfki0l68.cloudfront.net/550701559599176e16f1a975734505fd889ca734/fee33/static/400.e8acd7d9.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 500; src: url("https://d33wubrfki0l68.cloudfront.net/6e2ca96e9ec9595d1739d92a677511b22b1cfd59/f200d/static/500.3bdef125.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 600; src: url("https://d33wubrfki0l68.cloudfront.net/52e04f1042442cbcf9c6802d2eb2381874b940bb/082e6/static/600.be0060da.woff") format("woff"); }

@font-face { font-family: Whitney; font-weight: 700; src: url("https://d33wubrfki0l68.cloudfront.net/fdbdb2189fb5c1d8526ea5079611caa18f50959f/8a619/static/700.8e12fb4f.woff") format("woff"); }

/* Use Whitney font */
* { font-family: Whitney, sans-serif; }

/* Rounded/floating message bar */
.sc-bTDOke.dXiuJH { margin: 0 16px 24px; border-radius: 8px; }

/* Shadows on edges */
.sc-hhIiOg { box-shadow: 0 2px 2px #2C2F33; z-index: 1; }

/* Changes divider color to be darker */
.lmGFyU { border-color: #ffffff0f; }

/* Hides the wave used as a chosen server indicator by default */
.cebzwO span, .dtmIia span { display: none; }

/* Replicates selected server indicator */
.czAOsy img, .czAOsy div { border-radius: 50%; transition: 0.25s ease; }
.czAOsy img:hover, .czAOsy div:hover { border-radius: 16px; }
.cebzwO img, .cebzwO .sc-jNnpgg, .dtmIia img { border-radius: 16px; }

/* Brings typing, reply and upload bars in line with message bar */
.eQUdeu > div, .llyViG, .UjHkE { margin-left: 16px; margin-right: 16px; }

/* Don't round the top corners of the message bar if an extension is active */
.sc-daBunf ~ .sc-bTDOke.dXiuJH, /* typing indicators */
:not(:empty) + .sc-bTDOke.dXiuJH, /* replies */
.sc-fXazdy ~ .sc-bTDOke.dXiuJH /* attachments */  {
   border-radius: 0 0 8px 8px;
}

/* Shadow on server name/badge */
.sc-eirqVv.dSzotL { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }
.sc-hhIiOg.elIzZc > div > svg { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }
