
/* Rounded/floating message bar */
[aria-label="Message Box"] { margin: 0 16px 24px; border-radius: 8px; }

/* Shadow on edge of top bar */
main header { box-shadow:rgba(4, 4, 5, 0.2) 0px 1px 0px 0px, rgba(6, 6, 7, 0.05) 0px 1.5px 0px 0px, rgba(4, 4, 5, 0.05) 0px 2px 0px 0px; z-index: 1; }

/* Changes divider color to be darker and sligns the text to the center */
main [role="feed"] [role="separator"] {
  border-color: #ffffff0f;

  & > time {
    font-weight: 600;
    margin: 0 auto;
    padding: 2px 4px;
  }
}

/* Shadow on server name/badge */
nav header h1 { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }
nav header svg { filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8)); }

/* User menu icon size adjustment to be equal to Discord */
nav > div:nth-child(2) > div > a > button > div > svg {
  height: 24px;
  width: 24px !important;
}

/* Right click menu styling */
#Menu.context-menu {
  background: var(--background-floating) !important;

  & > span:not([data-disabled=true]) {
    &:hover, &:active, &:focus {
      background: var(--accent) !important;
      color: var(--foreground);
    },
    &:active, &:focus {
      opacity: 0.8;
    }
  }
}

/* Couldn't figure out a nice way to do this without relying on classes :( */
/* Buttons in settings now uses accent color */
/*.dvKiPb {
  background: var(--accent);
  transition: 0.2s ease;
  button&:hover {
    background: var(--accent);
    opacity: 0.8;
  }
}*/

/* Change color of category headings to match Discord, fix hover styling */
nav summary .padding > * {
  color: rgb(142, 146, 151);

  &:hover {
    filter: brightness(140%);
  }
}

/* Edit message dialog changes */
main [role="feed"] article textarea {
  background: #40444B;
  border-color: #40444B !important;
}

/* Make donate link in settings standard with the rest of the colors */
/* The duplicate attribute selectors are just to get around CSS specificity issues */
main nav a[href="https://insrt.uk/donate"][href][href] > button {
  color: var(--tertiary-foreground) !important;
  &:hover {
    color: var(--foreground) !important;
  }
}

/* Make user and channel mentions match Discord */
main [role="feed"] article a[data-type="mention"],
main [role="feed"] article a[href*="/server/"][href*="/channel/"]:not([href*="https://"]) {
  border-radius: 3px;
  padding: 0 2px;
  background-color: #5856f253;
  color: #DEE0FC;
  font-weight: 500;
  text-decoration: none;
  transition: none;

  &:hover {
    background-color: #5856f2;
  }
}

/* Add orange marker to the left of pinged messages */
main [role="feed"] article[role="alert"] {
    border-left: 2px solid var(--info-warning-foreground);
    padding-left: 0;
}

/* More accurate background colors for individual messages */
main [role="feed"] article:hover {
  background-color: var(--background-message-hover);
}
main [role="feed"] article[role="alert"]:hover {
  background-color: var(--background-mentioned);
  &:hover {
    background-color: var(--background-mentioned-hover);
  }
}
@keyframes fGHvAw {
    from {
        background-color: var(--background-message-flash);
    }
}
