/* Channels sidebar */
.eQLlNj {
  position: relative;
  padding: 16px 0;

  /* Channel category arrow */
  summary svg.StyledIconBase-ea9ulj-0.bWRyML {
    position: absolute;
    left: 0;
    width: 16px;
  }

  /* Channel category name */
  .fMAmuP {
    padding: 6px 8px 6px 16px;
    font-weight: 600;
    letter-spacing: .25px;
  }

  /* Channel button */
  ._item_15670_1 {
    margin-left: 8px;

    ._name_15670_60 {
      font-weight: 500;
    }

    svg.StyledIconBase-ea9ulj-0.bWRyML, .eiraGk {
      width: 20px;
      height: 20px;
      color: var(--tertiary-foreground);
    }

    ._alert_15670_81 {
      position: absolute;
      left: -4px;
      width: 8px;
      height: 8px;
      margin: -4px 0 0;
    }
  }
}
