:root {
  --background-floating: #18191c;
  --interactive-hover: #dcddde;
  --header-secondary: #b9bbbe;
  --text-normal: var(--interactive-hover);
  --background-modifier-hover: rgba(79,84,92,0.16);
  --green: hsl(139,47.3%,43.9%);
  --green-hover: hsl(139,47.1%,33.3%);
}